body {
  background-image: url("./media/background-breaking-bad.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.spinner {
  animation: rotation 1s infinite linear;
  width: 200px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.card.MuiCard-root {
  background-color: #262222de;
}

.card .MuiTypography-root {
  color: #e9e3d3;
  font-weight: 700;
}

.card .MuiTypography-subtitle1 {
  color: #c5ac6a;
  font-weight: 400;
}
